{% extends "layout.html" %}

{% block title %}
    Vasco Xu
{% endblock %}

{% block body %}

<div class="container mx-auto max-w-5xl px-6 py-12">
  <div class="flex flex-col items-center gap-12 md:flex-row">

<!-- Image -->
<img src="static/assets/imgs/Miguel.png" alt="Vasco Xu" class="w-64 h-64 rounded-full object-cover flex-shrink-0">

<!-- Description + Links -->
<div class="flex-1">
  <p class="text-lg text-gray-700 mb-4 leading-relaxed">
    I am a PhD student at the University of Chicago advised by <a href="https://people.cs.uchicago.edu/~hankhoffmann/" target="_blank" class="link-gray">Prof. Hank Hoffmann</a> and <a href="https://karan-ahuja.com/" target="_blank" class="link-gray">Prof. Karan Ahuja</a>.
    Previously, I earned a <a href="https://www.frederickhonors.pitt.edu/academics/bachelor-philosophy-bphil-degree" target="_blank" class="link-gray">B.Phil</a> in Computer Science at the University of Pittsburgh.
  </p>
  <p class="text-lg text-gray-700 mb-4 leading-relaxed">
    My research interests lie at the intersection of embedded systems, machine learning, and HCI. I'm interested in developing novel systems to better understand, communicate and interact with the world around us.
  </p>
  <p class="text-lg text-gray-700 mb-6 leading-relaxed">
    I grew up in <a href="https://en.wikipedia.org/wiki/Sintra" target="_blank" class="link-gray">Sintra</a>, a beautiful town in <a href="https://en.wikipedia.org/wiki/Lisbon" target="_blank" class="link-gray">Lisbon (Portugal)</a>.
  </p>
  <div class="flex flex-row flex-wrap items-center gap-4">
    <a href="static/assets/docs/VascoXu_CV.pdf" target="_blank" class="whitespace-nowrap text-red-600/80 font-semibold hover:text-red-600 hover:underline hover:underline-offset-8 hover:decoration-1 hover:decoration-red-600">[&nbsp;CV&nbsp;]</a>
    <a href="https://scholar.google.com/citations?user=X8SfS5YAAAAJ&hl=en" target="_blank" class="whitespace-nowrap text-red-600/80 font-semibold hover:text-red-600 hover:underline hover:underline-offset-8 hover:decoration-1 hover:decoration-red-600">[&nbsp;SCHOLAR&nbsp;]</a>
    <a href="mailto:vascoxu@uchicago.edu" class="whitespace-nowrap text-red-600/80 font-semibold hover:text-red-600 hover:underline hover:underline-offset-8 hover:decoration-1 hover:decoration-red-600">[&nbsp;EMAIL&nbsp;]</a>
  </div>
</div>

  </div>
</div>

{% include 'highlights.html' %}

{% endblock %}
